In [1]:
#Load initial libraries
import os
from dotenv import load_dotenv, find_dotenv

In [2]:
#Get environment variables
pg_url2 = os.environ.get("PG_URL")

In [3]:
#connect to database
from sqlalchemy import create_engine
engine = create_engine(pg_url2)

#Define a function to connect to the database. This was normally done with a one liner, and the example used a dict. 
#I ignored using the dict
def connect(host2, database2, user2, password2):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(host=host2, database=database2, user=user2, password=password2)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

conn = connect(host2, database2, user2, password2)

In [17]:
#query database and load price dataframe "AAPL"
import pandas as pd
query = """
    select * from stock_prices where stock_id = 16216
"""
df = pd.read_sql_query(query, engine)
df.tail()

      stock_id         dt    open    high     low   close      volume
5671     16216 2021-08-04  199.90  203.18  198.28  202.74  23130900.0
5672     16216 2021-08-05  205.00  207.33  203.42  206.37  21143500.0
5673     16216 2021-08-06  205.24  205.70  202.10  203.66  17825500.0
5674     16216 2021-08-09  204.46  205.08  201.43  202.95  14644300.0
5675     16216 2021-08-10  203.22  204.30  198.35  199.36  17880452.0

In [1]:
import talib
morning_star = talib.CDLMORNINGSTAR(df['open'], df['high'], df['low'], df['close'])
engulfing = talib.CDLENGULFING(df['open'], df['high'], df['low'], df['close'])

ModuleNotFoundError: No module named 'talib'

In [19]:
df['morning_star'] = morning_star
df['engulfing'] = engulfing

In [20]:
print(morning_star[morning_star != 0])

336    100
476    100
dtype: int32

In [21]:
print(df[morning_star != 0])

     stock_id         dt  open  high   low  close      volume  morning_star  \
336     16216 2000-05-22  1.93  2.08  1.76   2.08  51715200.0           100
476     16216 2000-12-08  1.71  1.91  1.55   1.90  85339200.0           100

     engulfing
336          0
476          0

In [16]:
print(df[engulfing != 0].tail(10))

       stock_id         dt    open    high     low   close       volume  \
10094     15687 2020-12-23  131.54  131.81  130.17  130.35   88223700.0
10129     15687 2021-02-16  135.06  135.58  132.37  132.77   80576300.0
10164     15687 2021-04-07  125.43  127.51  124.74  127.49   83466700.0
10169     15687 2021-04-14  134.51  134.57  131.24  131.61   87222800.0
10172     15687 2021-04-19  133.08  135.04  132.91  134.41   94264200.0
10173     15687 2021-04-20  134.59  135.10  131.39  132.69   94812300.0
10185     15687 2021-05-06  127.48  129.34  126.72  129.33   78128300.0
10214     15687 2021-06-17  129.61  132.35  129.46  131.59   96721700.0
10216     15687 2021-06-21  130.11  132.21  129.02  132.10   79663300.0
10241     15687 2021-07-27  148.90  148.99  145.33  146.55  104818600.0

       morning_star  engulfing
10094             0       -100
10129             0       -100
10164             0        100
10169             0       -100
10172             0        100
10173             0       -100
10185             0        100
10214             0        100
10216             0        100
10241             0       -100