In [1]:
#Load initial libraries
import os
from dotenv import load_dotenv, find_dotenv

In [2]:
#Get environment variables
pg_url2 = os.environ.get("PG_URL")

In [3]:
#connect to database
from sqlalchemy import create_engine
engine = create_engine(pg_url2)

#Define a function to connect to the database. This was normally done with a one liner, and the example used a dict. 
#I ignored using the dict
def connect(host2, database2, user2, password2):
    """ Connect to the PostgreSQL database server """
    conn = None
    try:
        # connect to the PostgreSQL server
        print('Connecting to the PostgreSQL database...')
        conn = psycopg2.connect(host=host2, database=database2, user=user2, password=password2)
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        sys.exit(1) 
    print("Connection successful")
    return conn

conn = connect(host2, database2, user2, password2)

In [7]:
#query database and load price dataframe
import pandas as pd
query = """
    select * from stock_prices where stock_id = 15687
"""
df = pd.read_sql_query(query, engine)
df.tail()

       stock_id         dt    open    high     low   close      volume
10247     15687 2021-08-04  147.05  147.57  146.06  146.73  56368300.0
10248     15687 2021-08-05  146.76  147.62  145.95  146.84  46397700.0
10249     15687 2021-08-06  146.35  147.11  145.63  146.14  54067400.0
10250     15687 2021-08-09  146.20  146.70  145.52  146.09  48908700.0
10251     15687 2021-08-10  146.44  147.71  145.30  145.60  66428124.0

In [13]:
import talib
morning_star = talib.CDLMORNINGSTAR(df['open'], df['high'], df['low'], df['close'])
engulfing = talib.CDLENGULFING(df['open'], df['high'], df['low'], df['close'])

In [14]:
df['morning_star'] = morning_star
df['engulfing'] = engulfing

In [11]:
print(morning_star[morning_star != 0])

2386     100
4831     100
6255     100
6520     100
6756     100
6852     100
6940     100
7107     100
7124     100
7264     100
7304     100
7487     100
7553     100
7583     100
7700     100
8021     100
8160     100
8579     100
8698     100
8769     100
9232     100
9538     100
9591     100
9903     100
10065    100
10153    100
dtype: int32

In [12]:
print(df[morning_star != 0])

       stock_id         dt    open    high     low   close        volume  \
2386      15687 1990-05-22    0.29    0.30    0.29    0.30  3.010896e+08
4831      15687 2000-01-25    0.80    0.87    0.78    0.86  4.971456e+08
6255      15687 2005-09-23    1.60    1.64    1.59    1.63  5.584572e+08
6520      15687 2006-10-12    2.26    2.31    2.26    2.31  5.928552e+08
6756      15687 2007-09-21    4.33    4.44    4.30    4.42  1.138880e+09
6852      15687 2008-02-08    3.74    3.85    3.73    3.85  1.355973e+09
6940      15687 2008-06-16    5.25    5.46    5.18    5.42  1.051730e+09
7107      15687 2009-02-12    2.94    3.06    2.94    3.04  8.171884e+08
7124      15687 2009-03-10    2.60    2.73    2.59    2.72  8.442588e+08
7264      15687 2009-09-28    5.64    5.72    5.62    5.71  3.374448e+08
7304      15687 2009-11-23    6.22    6.32    6.22    6.31  4.748968e+08
7487      15687 2010-08-17    7.67    7.81    7.64    7.73  4.226404e+08
7553      15687 2010-11-18    9.36    9.50    9.34    9.46  4.944912e+08
7583      15687 2011-01-03    9.99   10.13    9.96   10.11  4.451384e+08
7700      15687 2011-06-21    9.71    9.99    9.67    9.98  4.933824e+08
8021      15687 2012-09-27   20.46   21.01   20.34   20.98  5.940900e+08
8160      15687 2013-04-22   12.22   12.52   12.18   12.41  4.299204e+08
8579      15687 2014-12-17   24.28   24.90   24.21   24.80  2.136472e+08
8698      15687 2015-06-10   29.23   29.56   29.22   29.45  1.563492e+08
8769      15687 2015-09-21   26.09   26.48   26.09   26.45  2.008880e+08
9232      15687 2017-07-24   35.79   36.23   35.63   36.15  8.597280e+07
9538      15687 2018-10-09   54.17   55.05   53.83   54.95  1.075640e+08
9591      15687 2018-12-26   36.04   38.21   35.66   38.20  2.343300e+08
9903      15687 2020-03-24   58.45   61.25   57.94   61.05  2.875312e+08
10065     15687 2020-11-11  116.64  119.07  115.90  118.93  1.122950e+08
10153     15687 2021-03-22  119.95  123.47  119.88  123.00  1.119123e+08

       morning_star
2386            100
4831            100
6255            100
6520            100
6756            100
6852            100
6940            100
7107            100
7124            100
7264            100
7304            100
7487            100
7553            100
7583            100
7700            100
8021            100
8160            100
8579            100
8698            100
8769            100
9232            100
9538            100
9591            100
9903            100
10065           100
10153           100

In [16]:
print(df[engulfing != 0].tail(10))

       stock_id         dt    open    high     low   close       volume  \
10094     15687 2020-12-23  131.54  131.81  130.17  130.35   88223700.0
10129     15687 2021-02-16  135.06  135.58  132.37  132.77   80576300.0
10164     15687 2021-04-07  125.43  127.51  124.74  127.49   83466700.0
10169     15687 2021-04-14  134.51  134.57  131.24  131.61   87222800.0
10172     15687 2021-04-19  133.08  135.04  132.91  134.41   94264200.0
10173     15687 2021-04-20  134.59  135.10  131.39  132.69   94812300.0
10185     15687 2021-05-06  127.48  129.34  126.72  129.33   78128300.0
10214     15687 2021-06-17  129.61  132.35  129.46  131.59   96721700.0
10216     15687 2021-06-21  130.11  132.21  129.02  132.10   79663300.0
10241     15687 2021-07-27  148.90  148.99  145.33  146.55  104818600.0

       morning_star  engulfing
10094             0       -100
10129             0       -100
10164             0        100
10169             0       -100
10172             0        100
10173             0       -100
10185             0        100
10214             0        100
10216             0        100
10241             0       -100